h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Arial Narrow Bold';
    letter-spacing: 30px;
}

ul{
    display: flex;
    gap: 160px;
    list-style: none;
    margin-top: 55px;
    justify-content: center;
    font-size: 15px;
}
.contacto-tel{
    display: flex;
    gap: 20px;
}

.correo{
    display: flex;
    gap: 20px;
}

.location{
    display: flex;
    gap: 20px;
}

h2{
    display: inline-block;
    position: relative;
    font-size: 30px;
    font-family:'Arial Narrow Bold';
    margin-top: -15px;
}

h2::after, h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: black;
    top: 0.6em;
}
h2::before{
    left: -130px;

}
h2::after{
    right: -130px;
}
.lines-effect{
    margin-left: 420px;
}



